<div class="table-wrapper">
    <div class="table-title d-flex justify-content-between mb-3">
        <h5>student Detail</h5>
    </div>
    <div>
    <table class="table table-bordered table-responsive">
        <tr>
            <th>First Name</th>
            <th>{{student?.first}}</th>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>{{student?.last}}</td></tr>
        <tr>
            <td>Email</td>
            <td>{{student?.email}}</td></tr>
        <tr>
            <td>Address</td>
            <td>{{student?.address}}</td></tr>
        <tr>   
            <td>Phone</td>
            <td>{{student?.phone}}</td>
        </tr>
    </table>
    </div>
</div>